/*footeer*/

.footer{
   padding-top: 6rem;
   position: absolute;
   width: 100%;
   height: 100px;
   left: 0;

   background-image: url('../../img/wave.png');
   background-repeat: no-repeat;
   background-size: 100% 300px;
   background-attachment: fixed;
   background-position: bottom center;
}

.footer__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_text{
    margin: 0.1px;
    position: absolute;
}

