/*footeer*/

.footer{
   padding-top: 6rem;
   position: absolute;
   width: 100%;
   left: 0;
   overflow: visible;
}

.footer__rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
    padding-top: 300px;

    background-image: url('../../img/wave.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__text{
    position: relative;
    bottom: 100px;
    color: black;
}

/*Tablet*/
@media (max-width: 768px) {

    /* Menú */
    .footer__rodape{
        margin-top: -100px;
        padding-top: 100px;
    }

    .footer__text{
        bottom: 20px;
    }
}