/* Experiencia Académica*/

section.academic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.academic__title{
    font-size: 24px;
}

.academic__courses{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

/*Tablet*/
@media (max-width: 768px) {

    /* Formacion */
    .academic__title{
        font-size: 22px;
    }

    .academic__courses__box{
        width: 30%;
    }

    .academic__courses__item__img img{
        height: 80px;
    }

    .academic__courses__item__title h4, .academic__courses__item__subtitle p{
        margin: 0.3rem;
    }

    .academic__courses__item__subtitle p{
        font-size: 14px;
    }
}

@media (max-width: 426px) {

    /*Formacion*/
    .academic__courses{
        flex-direction: column;
    }

    .academic__courses__box{
        width: 100%;
    }
}