/*Sección Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.hobbies__title{
    font-size: 24px;
}

.hobbies__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.hobbies__box ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.hobbies__name{
    padding: 1rem;
}

/*Tablet*/
@media (max-width: 768px) {

    /* Menú */
    .hobbies__title{
        font-size: 22px;
    }

    .hobbies__line{
        flex-wrap: wrap;
    }

    .hobbies__box{
        width: 30%;
    }
}