/*Sección Menu*/
section.menu{
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
    margin-bottom: 2rem;
    
    position: fixed;
    top: 1rem;
    left: 5rem;
    right: 5rem;
    width: auto;
    max-width: calc(100% - 10rem);
    background: var(--cor-de-fundo);
}

.menu__header{
    display: flex;
    align-items: center;
}

.menu__title{
    margin: 0.5rem;
}

.menu__logo{
    width: 1.5rem;
    height: 1.5rem;
}

.menu__list{
    display: flex;
}

.menu__list__item{
    margin-left: 2rem;
}

.contacto-text{
    font-weight: bold;
}