/*section skills*/

section.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.skills__title{
    font-size: 24px;
}

.skills__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.skills__box ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.skills__name{
    padding: 1rem;
}

/*Tablet*/
@media (max-width: 768px) {

    /* Menú */
    .skills__title{
        font-size: 22px;
    }

    .skills__line{
        flex-wrap: wrap;
    }

    .skills__box{
        width: 25%;
    }
}